#
# P03 Kernel Tuning Fragment
#

#
# Base scheduler
#
CONFIG_SCHED_BORE=y

CONFIG_SCHED_POC_SELECTOR=y

#
# SELinux activation for Fedora
#
CONFIG_AUDIT=y
CONFIG_SECURITY_SELINUX=y
CONFIG_DEFAULT_SECURITY_SELINUX=y
# CONFIG_DEFAULT_SECURITY_DAC is not set
CONFIG_LSM="lockdown,yama,integrity,selinux,bpf,landlock,apparmor"

#
# Do not override the system hostname
#
CONFIG_DEFAULT_HOSTNAME="(none)"

#
# ADIOS I/O Scheduler
#
CONFIG_MQ_IOSCHED_ADIOS=y
CONFIG_MQ_IOSCHED_DEFAULT_ADIOS=y

#
# ACPI Call module
#
CONFIG_ACPI_CALL=m

#
# Tickless idle (Tickless 2)
#
# CONFIG_NO_HZ_FULL_NODEF is not set
# CONFIG_HZ_PERIODIC is not set
# CONFIG_NO_HZ_FULL is not set
# CONFIG_TICK_CPU_ACCOUNTING is not set
# CONFIG_CONTEXT_TRACKING_FORCE is not set
CONFIG_NO_HZ_IDLE=y
CONFIG_NO_HZ=y
CONFIG_NO_HZ_COMMON=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y

#
# Hibernation compression
#
CONFIG_HIBERNATION_COMP_LZ4=y
CONFIG_HIBERNATION_DEF_COMP="lz4"

#
# Modules compression
#
CONFIG_MODULE_COMPRESS_ZSTD=y
# CONFIG_MODULE_COMPRESS_XZ is not set
CONFIG_MODULE_COMPRESS_ALL=y

#
# Debug info stripping
#
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set
# CONFIG_GDB_SCRIPTS is not set

#
# Rust compatibility
#
# Disable BTF to allow Rust + LTO to coexist
# CONFIG_DEBUG_INFO_BTF is not set
# CONFIG_MODVERSIONS is not set

#
# Preemption model
#
# PREEMPT_LAZY: better latency than PREEMPT, better throughput than PREEMPT_RT
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PREEMPT_LAZY=y

#
# Random Trust CPU
#
CONFIG_RANDOM_TRUST_CPU=y

#
# Native compression (LZ4)
#
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4HC_COMPRESS=y

#
# Memory management: MGLRU
#
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
# CONFIG_LRU_GEN_STATS is not set

#
# Android Binder (Waydroid)
#
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDERFS=y
# CONFIG_ANDROID_BINDER_IPC_SELFTEST is not set
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"

#
# Networking: BBR v3 + FQ
#
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"
CONFIG_NET_SCH_DEFAULT=y
CONFIG_NET_SCH_FQ=y

CONFIG_RUST=y
CONFIG_RUST_OVERFLOW_CHECKS=y
CONFIG_RUST_PHYLIB_ABSTRACTIONS=y
CONFIG_SAMPLES_RUST=y
CONFIG_RUST_FW_LOADER_ABSTRACTIONS=y

CONFIG_INTEL_PSTATE=y
CONFIG_INTEL_TCC_COOLING=m
CONFIG_SCHED_MC_PRIO=y

CONFIG_ACPI_WMI=y
CONFIG_ASUS_NB_WMI=m
CONFIG_ASUS_WMI=m

CONFIG_I2C_NCT6775=m

CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="intel_pstate=passive"
# CONFIG_CMDLINE_OVERRIDE is not set

#
# P03 Screen of Death
#
CONFIG_DRM_PANIC_SCREEN_QR_CODE=y
CONFIG_DRM_PANIC_SCREEN="qr_code"
CONFIG_DRM_PANIC_BACKGROUND_COLOR=0x082b3f
CONFIG_DRM_PANIC_FOREGROUND_COLOR=0x08e4ff

#
# Fix for "Failed to start systemd-modules-load.services"
#
# CONFIG_INTEGRITY_CA_MACHINE_KEYRING is not set

#
# Miscellaneous
#
# CONFIG_SCHED_PROXY_EXEC is not set
CONFIG_USER_NS_UNPRIVILEGED=y
CONFIG_MIN_BASE_SLICE_NS=2000000
# CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
# CONFIG_HZ_100 is not set
# CONFIG_HZ_250 is not set
# CONFIG_HZ_300 is not set
# CONFIG_HZ_500 is not set
# CONFIG_HZ_750 is not set
# CONFIG_HZ_1000 is not set

CONFIG_DEFAULT_FQ=y
# CONFIG_DEFAULT_CODEL is not set
# CONFIG_DEFAULT_FQ_CODEL is not set
# CONFIG_DEFAULT_FQ_PIE is not set
# CONFIG_DEFAULT_SFQ is not set
# CONFIG_DEFAULT_CAKE is not set
# CONFIG_DEFAULT_PFIFO_FAST is not set
CONFIG_DEFAULT_NET_SCH="fq"

CONFIG_AMD_PRIVATE_COLOR=y

# CONFIG_DEBUG_KMAP_LOCAL_FORCE_MAP is not set

# CONFIG_GENERIC_CPU is not set
# CONFIG_MK8 is not set
# CONFIG_MK8SSE3 is not set
# CONFIG_MK10 is not set
# CONFIG_MBARCELONA is not set
# CONFIG_MBOBCAT is not set
# CONFIG_MJAGUAR is not set
# CONFIG_MBULLDOZER is not set
# CONFIG_MPILEDRIVER is not set
# CONFIG_MSTEAMROLLER is not set
# CONFIG_MEXCAVATOR is not set
# CONFIG_MZEN is not set
# CONFIG_MZEN2 is not set
# CONFIG_MZEN3 is not set
# CONFIG_MZEN4 is not set
# CONFIG_MZEN5 is not set
# CONFIG_MPSC is not set
# CONFIG_MCORE2 is not set
# CONFIG_MNEHALEM is not set
# CONFIG_MWESTMERE is not set
# CONFIG_MSILVERMONT is not set
# CONFIG_MGOLDMONT is not set
# CONFIG_MGOLDMONTPLUS is not set
# CONFIG_MSANDYBRIDGE is not set
# CONFIG_MIVYBRIDGE is not set
# CONFIG_MHASWELL is not set
# CONFIG_MBROADWELL is not set
# CONFIG_MSKYLAKE is not set
# CONFIG_MSKYLAKEX is not set
# CONFIG_MCANNONLAKE is not set
# CONFIG_MICELAKE_CLIENT is not set
# CONFIG_MICELAKE_SERVER is not set
# CONFIG_MCOOPERLAKE is not set
# CONFIG_MCASCADELAKE is not set
# CONFIG_MTIGERLAKE is not set
# CONFIG_MSAPPHIRERAPIDS is not set
# CONFIG_MROCKETLAKE is not set
# CONFIG_MALDERLAKE is not set
# CONFIG_MRAPTORLAKE is not set
# CONFIG_MMETEORLAKE is not set
# CONFIG_MEMERALDRAPIDS is not set
# CONFIG_MDIAMONDRAPIDS is not set

# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE_O3 is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

